.password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .password-wrapper input {
    flex: 1;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
  }